source https://www.nuget.org/api/v2
storage: none
nuget FSharp.Core redirects: force

group FableElmish
    source https://www.nuget.org/api/v2
    storage: none
    nuget Fable.Elmish
    nuget Fable.Elmish.React
    nuget Fable.Elmish.Browser
    nuget Fable.Browser.Dom